<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chat Application</title>
    <link rel="stylesheet" type="text/css" href="css/tailwind.css">
</head>
<body class="w-screen h-screen flex flex-col items-center ">
    <h1 class="text-4xl mb-3"> Failed</h1>
    <p>Something went wrong</p>
</body>
</html>