<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chat Application</title>
    <link rel="stylesheet" type="text/css" href="../css/tailwind.css">
    <base href="/">
</head>
<body class="flex w-screen h-screen flex-col items-center">
    <h1 class="text-4xl sm:text-6xl  font-bold mb-4 text-center">Invalid Token</h1>
    <p class="text-lg mb-1">The token is invalid or expired</p>
</body>
</html>